*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {   
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
.showcase {
    background: url(./images/bgd.png) no-repeat center/cover;
    height: 100vh;
    overflow: hidden;
}
/* Utility styles */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Mobile navbar */
.mobile-navbar {
    display: none;
    background: #fff;
    z-index: 9;
}
.mobile-container {
    display: flex;
    padding: 10px;
    width: 100%;
}
.mobile-navbar .menu-botton {
    width: 30%;
}
.menu-botton .hamburger {
    cursor: pointer;
}
.mobile-navbar .mobile-navigations {
    left: 0;
    top: 68px;
    position: absolute;
    color: #301446;
    background: #fff;
    border-radius: 2px;
    padding: 30px;
    width: 60%;
    z-index: 9;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.toggle-nav {
    transform: translateX(0) !important;
    opacity: 1 !important;
}
.mobile-navbar .mobile-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 20%;
    margin-right: 5%;
}
.mobile-navigations .sign {
    padding-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
}
.mobile-navigations .sign div {
    margin-bottom: 15px;
}
.mobile-navigations .sign div a{
    font-weight: 600;
    font-size: 16px;
    color: #301446;
}
.mobile-navigations .mobile-lists {
    margin-top: 20px;
    margin-bottom: 70px;
}
.mobile-navigations .mobile-lists li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* Header Section */
header {
    width: 100%;
    height: 100px;
    margin: 25px 0 0 0;
}
.nav {
    float: right;
    margin-right: 20px;
}
.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
}
.nav ul li:nth-child(2) {
    position: relative;
}
.nav ul li i {
    position: absolute;
    top: 20%;
    left: 108%;
    font-size: 10px;
    z-index: 5;
}
.nav ul li {
    z-index: 4;
    cursor: pointer;
    margin: 10px 30px;
}
.nav ul li:not(:last-child) a{
    color: #fff;
}
.nav ul li:last-child a button{
    color: #071533;
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    justify-items: center;
    cursor: pointer;
}

.nav ul {
    position: relative;
}
.nav .course-categories {
    position: absolute;
    top: 80%;
    left: 25%;
    background: #fff;
    color: #301446;
    border-radius: 5px;
    transform: translateY(-20%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 4px 6px #ffffff56;
}
.nav .course-categories li{
    margin: 0;
    padding: 10px 30px;
    border-radius: 5px;
}

.nav .course-categories li:hover {
    background: #301446;
    color: #fff;
}

.toggle-course {
    transform: translateY(0) !important;
    opacity: 1 !important;
}



/* Main section */
.hero {
    display: flex;
    justify-content: center;
    padding: 80px;
    margin-top: -30px;
}
.item{
    width: 50%;
}
.item2 img {
    width: 90%;
    margin-left: 40px;
}
.item h3 {
    font-weight: 500;
    font-size: 2.7rem;
    line-height: 1.3; 
}
.item p {
    margin: 30px 0;
    line-height: 1.7;
    font-size: 1rem;
}
.item input {
    padding: 13px;
    background: none;
    border: 1px solid #fff;
    width: 70%;
    border-radius: 5px;
    color: white;
} 
.search input::placeholder {
    color: #fff;
}
.search {
    position: relative;
}
.search i {
    position: absolute;
    left: 60%;
    top: 30%;
}
/* Browse Section */
.container {
    padding: 80px;
}
.browse {
    position: relative;
}
.courses {
    font-weight: 700;
    font-size: 20px;
    color: #071533;
    margin-bottom: 50px;
}
.various ul{
    display: flex;
    justify-content: space-between;
}
.various li {
    cursor: pointer;
    font-weight: 600;
    color: #23262A;
    padding-bottom: 15px;
}
.active {
    color: #2A1B3F;
    border-bottom: 4px solid #2A1B3F;
}
.throw-up {
    display: none;
    margin-top: 5px;
    position: relative;
}
.throw-up i {
    font-size: 14px;
    color: #333;
}

.cards {
    margin-top: 50px;
    color: #333;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    scroll-behavior: smooth;
    padding: 5px;
}

.cards::-webkit-scrollbar {
    -webkit-appearance: none;
}

.browse .switch {
    position: absolute;
    top: 88%;
    cursor: pointer;
}
.browse .switch-right {
    right: 4%;
}
.browse .switch-left {
    transform: rotate(180deg);
    left: 4%;
}
.browse .switch img {
    width: 35px;
}

.cards .card {
    margin-right: 200px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 15px 15px 0px 15px;
}
.card .card-container {
    padding: 10px 20px;
}
.card h4 {
    font-size: 14px;
    margin: 15px 0;
}
.card h6 {
    font-size: 12px;
    margin-bottom: 15px;
}
.card .rating {
    display: flex;
    margin-bottom: 15px;
}
.star h5,
.count h5 {
    color: #C4C4C4;
    font-weight: 400;
    font-size: 12px;
}
.rating .star {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.star .stars {
    margin-right: 10px;
}
.count {
    display: flex;
    align-items: center;
}
.count img {
    width: 15px;
    margin-right: 10px;
}
.sales {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #23262A;
}
.sales h5 {
    text-decoration: line-through;
    font-size: 11px;
    margin-right: 10px;
}
.sales h2{
    font-weight: 600;
}
/* Usage Section */
.usage .title h1 {
    color: #021C37;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
}
.usage .title h3 {
    color: #301446;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 80px;
}
.usage .title h1,
.usage .title h3 {
    text-align: center;
}
.usage .carrds {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}
.usage .carrd {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 30px;
    margin: 10px 20px;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    color: #333;
    border-radius: 7px;
    align-items: center;
}
.usage .carrd .icon img {
    box-shadow: 0px 21.8182px 32.7273px rgba(0, 0, 0, 0.06), 0px 2.72727px 8.18182px rgba(0, 0, 0, 0.04), 0px 0px 1.36364px rgba(0, 0, 0, 0.04);
    background: #fff;
    padding: 10px;
    height: 60px;
    width: 60px;
}
.usage .carrd p {
    font-size: 14px;
    text-align: left;
}
.usage .carrd h3 {
    font-weight: 700 ;
    margin: 20px 0 ;
    font-size: 16px;
    text-align: left;
}
.usage .carrd:hover {
    color: #fff !important;
    background: #301446;
}
.usage .img:hover {
    color: white;
}
/* Explore Section */
.explore {
    background: url(./images/ebgd.png) no-repeat center/cover;
    height: 337px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.explore h1 {
    color: #021C37;
    margin-bottom: 10px;
    font-weight: 600;
}
.explore h4 {
    color: #301446;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 15px;
}
.explore button {
    padding: 10px 30px;
    background: #301446;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
/* Students Section */
.students .container {
    position: relative;
}
.students .toggle {
    position: absolute;
    top: 30%;
    right: 4%;
    background: #301446;
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}
.students .toggle-right {
    right: 4%;
}

.students .toggle-left {
    left: 4%;
}
.students .toggle i {
    font-size: 22px;
}
.students h2{
    color: #301446;
    font-size: 20px;
    margin-bottom: 40px;
}
.students h3{
    color: #332965;
    font-size: 20px;
    margin-bottom: 60px;
}
.students .cardds {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    transition: all 0.5s ease-in-out;
    overflow: auto;
    scroll-behavior: smooth;
}



.students .cardds::-webkit-scrollbar {
    -webkit-appearance: none;

}
.students .cardd {
    min-width: 300px ;
    height: fit-content;
    padding: 20px;
    box-shadow: 0px 4.23792px 8.47584px rgba(0, 0, 0, 0.04), 0px 0px 2.11896px rgba(0, 0, 0, 0.06), 0px 0px 1.05948px rgba(0, 0, 0, 0.04);
    border-radius: 32px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.students .cardd .profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.students .cardd .profile h4 {
    color: #021C37;
}
.students .cardd .profile img {
    width: 60px;
    margin-right: 10px;
}
.students .cardd p {
    color: #22272B;
}
.students .logos {
    display: flex;
    align-items: center;
    /* justify-content: baseline; */
    justify-content: center;
    flex-wrap: wrap;
}
.students .logos img {
    margin-right: 60px;
    margin-bottom: 20px;
}
/* Footer */
footer {
    background: #301446;
    color: #E8E6F2;
}
footer li a {
    color: #E8E6F2;
}
:is(footer) h3,h4,h5,a{
    color: #7B7FDA;
    margin-bottom: 15px;
}
:is(footer) p,span,li,h5 {
    font-size: 14px;
}
:is(.infos) li {
    margin: 10px 0;
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot {
    width: 30%;
}
.main-content .logo-section {
    display: flex;
    flex-direction: column;
}
.main-content .logo-section .banner img{
    width: 100px;
    margin-bottom: 20px;
}
.main-content .logo-section .about p {
    margin-bottom: 25px;
    font-size: 14px;
}
.main-content .logo-section .contact div {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}
.main-content .logo-section .contact div img{
    margin-right: 15px;
}
:is(.contact) img {
    width: 15px;
    height: 18px;
}
.main-content .infos {
    display: flex;
    justify-content: space-between;
}
.main-content .subscribe {
    margin-top: -20px;
}
.main-content .subscribe .email{
    position: relative;
}
.main-content .subscribe .email i{
    color: #7B7FDA;
    position: absolute;
    top: 30%;
    left: 10px;
}
.main-content .subscribe .email input {
    padding: 10px 10px 10px 30px;
    outline: none;
}
.main-content .subscribe .email input::placeholder {
    color: #301446;
    padding-left: 5px;
}
.main-content .subscribe button {
    display: block;
    margin-top: 10px;
    border: none;
    background: #7B7FDA;
    color: #fff;
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
}
.divider {
    height: 2px;
    background: #fff;
    width: 100%;
    margin: 60px 0 30px 0 ;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -30px;
}
.socials i {
    margin: 0 10px;
    color: #301446;
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    header {
        display: none;
    }
    .mobile-navbar {
        display: block;
    }
    .hero {
        padding: 80px 30px 30px 30px ;
    }
    .hero h3 {
        font-size: 2.5rem;
    }
    .hero .item {
        width: 100%;
    }
    .hero .item2 {
        display: none;
    }
    .various {
        display: none;
    }
    .throw-up {
        display: block;
    }
    .browse .container > div {
        display: flex;
        justify-content: space-between;
    }
    .usage .carrds {
        display: block !important;
    }

    .usage .carrd .icon img{
        background: #fff;
        box-shadow: 0px 21.8182px 32.7273px rgba(0, 0, 0, 0.06), 0px 2.72727px 8.18182px rgba(0, 0, 0, 0.04), 0px 0px 1.36364px rgba(0, 0, 0, 0.04);
        border-radius: 50%;
        padding: 5px;
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    .usage .carrd {
        flex-direction: row;
    }
    .students .cardds .cardd {
        flex-direction: column;
    } 
    .students .cardd  .profile{
        display: flex;
    }
    
    .main-content {
        display: block;
    }

    .main-content .infos {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .main-content .foot {
        width: 100%;
    }
}



.move {
    transform: translateX(-200px) !important;
}