*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    width: 100%;
    text-align: center;
    position: fixed;
    background: #fff;
}
.header .logo img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.container {
    padding: 15% 25%;
}
.content {
    border: 1px solid #E8E6F2;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 2px 2px 2px 0px;
    text-align: center;
}
.content .switch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background: #F2E6E8;
}
.switch .sign {
    text-align: center;
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current {
    background: #fff;
}
:is(.sign) h3 {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}
.content .sign-up-text {
margin: 50px 0 30px 0;
}
.content .sign-up-text h1 {
    font-weight: 400;
    margin-bottom: 7px;
}
.content .sign-up-text p {
    font-size: 13px;
    margin-bottom: 2px;
}
.form-container {
    padding: 0 50px;
}
form input {
    margin: 2%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;
}
form .email input {
    width: 96%;
}
:is(.name,.password) input {
    width: 46%;
}
form input::placeholder {
    color: #333;
}
form p {
    font-size: 14px;
    width: 96%;
    text-align: left;
    color: #333;
    margin: 15px 2% 30px 2%;
}
form p strong {
    color: #301446;
}
form button {
    width: 96%;
    margin: 0 2% 160px 2%;
    padding: 15px;
    background: #301446;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    form input {
        width: 96% !important;
    }
    .container{
        padding: 25% 5%;
    }
}