*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {   
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
/* Mobile navbar */
.mobile-navbar {
    display: none;
    background: #fff;
    z-index: 9;
}
.mobile-container {
    display: flex;
    padding: 10px;
    width: 100%;
}
.mobile-navbar .menu-botton {
    width: 30%;
}
.menu-botton .hamburger {
    cursor: pointer;
}
.mobile-navbar .mobile-navigations {
    left: 0;
    top: 68px;
    position: absolute;
    color: #301446;
    background: #fff;
    border-radius: 2px;
    padding: 30px;
    width: 60%;
    z-index: 9;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.toggle-nav {
    transform: translateX(0) !important;
    opacity: 1 !important;
}
.mobile-navbar .mobile-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 20%;
    margin-right: 5%;
}
.mobile-navigations .sign {
    padding-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
}
.mobile-navigations .sign div {
    margin-bottom: 15px;
}
.mobile-navigations .sign div a{
    font-weight: 600;
    font-size: 16px;
    color: #301446;
}
.mobile-navigations .mobile-lists {
    margin-top: 20px;
    margin-bottom: 70px;
}
.mobile-navigations .mobile-lists li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

header {
    background: url(./images/rectangle240.svg) no-repeat center/cover;
    height: 100px;
}

.nav {
    float: right;
    margin-right: 20px;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.nav ul li:nth-child(2) {
    position: relative;
}
.nav ul li i {
    position: absolute;
    top: 23%;
    left: 108%;
    font-size: 10px;
    z-index: 7;
}
.nav ul li {  
    cursor: pointer;
    margin: 10px 30px;
    z-index: 4;
}
nav ul li:not(:last-child) a{
    color: #fff;
}
.nav li .btn {
    border-radius: 5px;
    padding: 10px 35px;
    justify-items: center;
    border: none;
    cursor: pointer;
}

.nav ul {
    position: relative;
}
.nav .course-categories {
    position: absolute;
    top: 80%;
    left: 25%;
    background: #fff;
    color: #301446;
    border-radius: 5px;
    transform: translateY(-20%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 4px 6px #ffffff56;
}
.nav .course-categories li{
    margin: 0;
    padding: 10px 30px;
    border-radius: 5px;
}

.nav .course-categories li:hover {
    background: #301446;
    color: #fff;
}

.toggle-course {
    transform: translateY(0) !important;
    opacity: 1 !important;
}

.discover {
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url('./images/rectangle242.png') no-repeat center/cover ;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.discover h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 50px;
}
.creative p {
    font-weight: 600;
    font-size: 20px;
    color: #000;
    margin: 80px 100px;
}
.unique h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin-top: 70px;
}
.unique .uniques {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 70px 30px;
}
.unique .inspire {
    display: flex;
    /* flex-basis: 300px; */
    flex-direction: column;
    margin-top: 30px;
    /* justify-content: center; */
    align-items: flex-start;
    margin: 50px;
}

.unique .inspire .icon1 {
    align-self: center;
}
.unique .inspire h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-top: 10px;
}
.unique .inspire p {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-top: 10px;
}
/* Explore Section */
.explore{
    background: url(./images/rect.png) no-repeat center/cover;
    height: 337px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.explore h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.explore h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.explore button {
    padding: 10px 30px;
    background: #301446;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.tutors h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #332965;
    margin: 70px 80px;
    /* margin-left: 80px; */
}
.tutors {
    margin-bottom: 50px;
}
.tutors .logos {
    display: flex;
    align-items: center;
    /* justify-content: baseline; */
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 80px;
}
.tutors .logos img {
    margin-right: 60px;
    margin-bottom: 20px;
}
/* Footer */
footer {
    background: #301446;
    color: #E8E6F2;
}
footer li a {
    color: #E8E6F2;
}
.container {
    padding: 80px;
}
:is(footer) h3,h4,h5,a{
    color: #7B7FDA;
    margin-bottom: 15px;
}
:is(footer) p,span,li,h5 {
    font-size: 14px;
}
:is(.infos) li {
    margin: 10px 0;
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot {
    width: 30%;
}
.main-content .logo-section {
    display: flex;
    flex-direction: column;
}
.main-content .logo-section .banner img{
    width: 100px;
    margin-bottom: 20px;
}
.main-content .logo-section .about p {
    margin-bottom: 25px;
    font-size: 14px;
}
.main-content .logo-section .contact div {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}
.main-content .logo-section .contact div img{
    margin-right: 15px;
}
:is(.contact) img {
    width: 15px;
    height: 18px;
}
.main-content .infos {
    display: flex;
    justify-content: space-between;
}
.main-content .subscribe {
    margin-top: -20px;
}
.main-content .subscribe .email{
    position: relative;
}
.main-content .subscribe .email i{
    color: #7B7FDA;
    position: absolute;
    top: 30%;
    left: 10px;
}
.main-content .subscribe .email input {
    padding: 10px 10px 10px 30px;
}
.main-content .subscribe .email input::placeholder {
    color: #301446;
    padding-left: 5px;
}
.main-content .subscribe button {
    display: block;
    margin-top: 10px;
    border: none;
    background: #7B7FDA;
    color: #fff;
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
}
.divider {
    height: 2px;
    background: #fff;
    width: 100%;
    margin: 60px 0 30px 0 ;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -30px;
}
.socials i {
    margin: 0 10px;
    color: #301446;
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    header {
        display: none;
    }
    .mobile-navbar {
        display: block;
    }

    .creative p {
        margin: 20px 40px;
        font-size: 16px;
    }

    .unique .uniques {
        display: block;
    }

    .main-content {
        display: block;
    }

    .main-content .infos {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .main-content .infos .info{
        margin-bottom: 20px;
    }
    .main-content .foot {
        width: 100%;
    }
}